body {
    padding-top: 56px;
}

.float-left {
    float: left;
}

#main-outer {
    margin-top: 56px;
}

#sidebar {
    width: 300px;
    position: fixed;
    /* overflow-y: scroll; */
    height: calc(100% - 56px);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    z-index: 99999;
}

.sidebar-margin {
    margin-left: -300px;
}

#sidebar .sidebar-inner {
    display: block;
    height: 100%;
    overflow-y: scroll;
    padding-top: 2px;
}

.main-page {
    margin-left: 0px;
}

.btn-sidebar-toggler {
    display: block;
    float: right;
    position: absolute;
    right: -20px;
    top: 2px;
    font-size: 20px;
    background-color: lightgrey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.full-outer-toggled .sidebar-margin {
    margin-left: 0px;
}

.full-outer-toggled .main-page {
    min-width: 0;
    margin-left: 300px;
}
/* Padding classes Begin */
.pad-x-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padx-10-0 {
    padding-left: 10px;
    padding-right: 0px;
}
/* Padding classes End */
.shads {
    -webkit-box-shadow: 2px ​0px 8px rgb(0 0 0 / 20%);
    box-shadow: 2px ​0px 8px rgb(0 0 0 / 20%);
}

@media (min-width: 768px) {
    .sidebar-margin {
        margin-left: 0px;
    }
    .main-page {
        min-width: 0;
        margin-left: 300px;
    }
    .btn-sidebar-toggler {
        right: -20px;
    }
    .full-outer-toggled .sidebar-margin {
        margin-left: -290px;
    }
    .full-outer-toggled .main-page {
        min-width: 0;
        margin-left: 0px;
    }
}
